---
title: Rules E | NCTS Phase 5 Technical Interface Specification
weight: 7
description: Software developers, designers, product owners or business analysts. Learn about the processes involved in the exchange of messages between traders and phase 5 of the NCTS at departure and arrival of transit movements, and about the definitions, formats and validations of those messages.
---
#Rules E
<%= partial 'documentation/partials/rules_e_intro' %>
##E1102

<b>Functional Description</b>

N/A

<b>Technical Description</b>

IF &lt;Decisive Date&gt; is LESS than or EQUAL to &lt;TPendDate&gt; THEN<br/>/<span>&#42;</span>/HolderOfTheTransitProcedure/Address/postcode AND<br/>/<span>&#42;</span>/Consignment/Consignor/Address/postcode AND<br/>/<span>&#42;</span>/Consignment/Consignee/Address/postcode AND<br/>/<span>&#42;</span>/Consignment/LocationOfGoods/Address/postcode AND<br/>/<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/Consignee/Address/postcode AND<br/>/<span>&#42;</span>/Consignment/ConsigneeActual/Address/postcode AND<br/>/<span>&#42;</span>/GuaranteeReference/Guarantor/Address/postcode<br/><br/>format shall be set to an..9

##E1103

<b>Functional Description</b>

N/A

<b>Technical Description</b>

IF &lt;Decisive Date&gt; is LESS than or EQUAL to &lt;TPendDate&gt; THEN <br/>/<span>&#42;</span>/Consignment/ActiveBorderTransportMeans/identificationNumber AND<br/>/<span>&#42;</span>/Consignment/DepartureTransportMeans/identificationNumber AND<br/>/CD038C/Consignment/Incident/Transhipment/TransportMeans/ identificationNumber<br/><br/>format shall be set to an..27

##E1104

<b>Functional Description</b>

N/A

<b>Technical Description</b>

IF &lt;Decisive Date&gt; is LESS than or EQUAL to &lt;TPendDate&gt;<br/>THEN<br/>/<span>&#42;</span>/HolderOfTheTransitProcedure/name AND<br/>/<span>&#42;</span>/HolderOfTheTransitProcedure/Address/streetAndNumber AND<br/>/<span>&#42;</span>/GuaranteeReference/Guarantor/name AND<br/>/<span>&#42;</span>/GuaranteeReference/Guarantor/Address/streetAndNumber AND<br/>/<span>&#42;</span>/Consignment/Consignor/name AND<br/>/<span>&#42;</span>/Consignment/Consignor/Address/streetAndNumber AND<br/>/<span>&#42;</span>/Consignment/Consignee/name AND<br/>/<span>&#42;</span>/Consignment/Consignee/Address/streetAndNumber AND<br/>/<span>&#42;</span>/Consignment/LocationOfGoods/Address/streetAndNumber AND<br/>/<span>&#42;</span>/Consignment/ActiveBorderTransportmeans/conveyanceReferenceNumber AND<br/>/<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/Consignee/name AND<br/>/<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/Consignee/Address/streetAndNumber AND<br/>/<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/PreviousDocument/referenceNumber AND<br/>/<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/SupportingDocument/referenceNumber AND<br/>/<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/TransportDocument/referenceNumber AND<br/>/<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/AdditionalReference/referenceNumber <br/>format shall be set to an..35<br/><br/>

##E1105

<b>Functional Description</b>

N/A

<b>Technical Description</b>

IF &lt;Decisive Date&gt; is LESS than or EQUAL to &lt;TPendDate&gt;<br/>THEN <br/>/<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/Packaging/shippingMarks<br/><br/>format shall be set to an..42

##E1107

<b>Functional Description</b>

N/A

<b>Technical Description</b>

IF &lt;Decisive Date&gt; is LESS than or EQUAL to &lt;TPendDate&gt;<br/>THEN <br/>/<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/Commodity/descriptionOfGoods<br/><br/>format shall be set to an..280

##E1109

<b>Functional Description</b>

N/A

<b>Technical Description</b>

IF &lt;Decisive Date&gt; is LESS than or EQUAL to &lt;TPendDate&gt;<br/>THEN<br/>/<span>&#42;</span>/Consignment/grossMass AND<br/>/<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/Commodity/GoodsMeasure/grossMass AND<br/>/<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/ Commodity/GoodsMeasure/netMass<br/>format shall be set to n..11,3

##E1111

<b>Functional Description</b>

N/A

<b>Technical Description</b>

IF &lt;Decisive Date&gt; is LESS than or EQUAL to &lt;TPendDate&gt;<br/>THEN <br/>/<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/Packaging/numberOfPackages<br/><br/>format shall be set to n..5

##E1114

<b>Functional Description</b>

N/A

<b>Technical Description</b>

IF &lt;Decisive Date&gt; is LESS than or EQUAL to &lt;TPendDate&gt;<br/>THEN<br/>/<span>&#42;</span>/Consignment/PlaceOfLoading/location <br/><br/>format shall be set to an..17

##E1117

<b>Functional Description</b>

N/A

<b>Technical Description</b>

IF &lt;Decisive Date&gt; is LESS than or EQUAL to &lt;TPendDate&gt;<br/>THEN<br/>/<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/PreviousDocument/complementOfInformation<br/>/<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/SupportingDocument/complementOfInformation<br/><br/>format shall be set to an..26.<br/>

##E1118

<b>Functional Description</b>

N/A

<b>Technical Description</b>

IF &lt;Decisive Date&gt; is LESS than or EQUAL to &lt;TPendDate&gt;<br/>THEN<br/>/<span>&#42;</span>/Guarantee/GuaranteeReference/accessCode<br/><br/>format shall be set to an4<br/><br/>

##E1301

<b>Functional Description</b>

N/A

<b>Technical Description</b>

IF &lt;Decisive Date&gt; is LESS than or EQUAL to &lt;TPendDate&gt;<br/>THEN<br/>/<span>&#42;</span>/Consignment/PreviousDocument AND<br/>/<span>&#42;</span>/Consignment/SupportingDocument AND<br/>/<span>&#42;</span>/Consignment/TransportDocument AND<br/>/<span>&#42;</span>/Consignment/AdditionalReference AND<br/>/<span>&#42;</span>/Consignment/AdditionalInformation AND<br/>/<span>&#42;</span>/Consignment/HouseConsignment/countryOfDispatch AND<br/>/<span>&#42;</span>/Consignment/HouseConsignment/referenceNumberUCR AND<br/>/<span>&#42;</span>/Consignment/HouseConsignment/Consignor AND<br/>/<span>&#42;</span>/Consignment/HouseConsignment/Consignee AND<br/>/<span>&#42;</span>/Consignment/HouseConsignment/DepartureTransportMeans AND<br/>/<span>&#42;</span>/Consignment/ HouseConsignment/PreviousDocument AND<br/>/<span>&#42;</span>/Consignment/HouseConsignment/SupportingDocument AND<br/>/<span>&#42;</span>/Consignment/HouseConsignment/TransportDocument AND<br/>/<span>&#42;</span>/Consignment/HouseConsignment/AdditionalReference AND<br/>/<span>&#42;</span>/Consignment/HouseConsignment/AdditionalInformation AND<br/>/<span>&#42;</span>/Consignment/HouseConsignment/TransportCharges AND<br/>/<span>&#42;</span>/GuaranteeReference/Guarantor/AgentInCountryOfCompetentAuthority <br/><br/>shall not be used<br/>

##E1401

<b>Functional Description</b>

N/A

<b>Technical Description</b>

IF &lt;Decisive Date&gt; is LESS than or EQUAL to &lt;TPendDate&gt;<br/>THEN<br/> /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/PreviousDocument <br/>multiplicity shall be set to '9x'

##E1406

<b>Functional Description</b>

N/A

<b>Technical Description</b>

IF &lt;Decisive Date&gt; is LESS than or EQUAL to &lt;TPendDate&gt;<br/>THEN<br/>/<span>&#42;</span>/RiskAnalysisIdentification/RiskAnalysis/RiskAnalysisResult AND<br/>/<span>&#42;</span>/Consignment/ActiveBorderTransportMeans AND<br/>/<span>&#42;</span>/Consignment/HouseConsignment AND<br/>/<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/Commodity/DangerousGoods<br/>multiplicity shall be set to '1x'

##E1407

<b>Functional Description</b>

N/A

<b>Technical Description</b>

IF &lt;Decisive Date&gt; is LESS than or EQUAL to &lt;TPendDate&gt; <br/>THEN<br/>for each Goods Item, the cumulated number of all instances of<br/>/<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/SupportingDocument AND /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/TransportDocument AND /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/AdditionalReference <br/>shall be LESS OR EQUAL to 99x<br/>
