---
title: Rules R | NCTS Phase 5 Technical Interface Specification
weight: 9
description: Software developers, designers, product owners or business analysts. Learn about the processes involved in the exchange of messages between traders and phase 5 of the NCTS at departure and arrival of transit movements, and about the definitions, formats and validations of those messages.
---
#Rules R
<%= partial 'documentation/partials/rulesintro' %>
##R0003

<b>Functional Description</b>

Each &lt;CUSTOMS OFFICE OF TRANSIT (DECLARED). Reference number&gt; is unique throughout the declaration. 

<b>Technical Description</b>

Each /<span>&#42;</span>/CustomsOfficeOfTransitDeclared/referenceNumber is unique throughout the declaration. 

##R0004

<b>Functional Description</b>

The value of &lt;CUSTOMS OFFICE OF TRANSIT (DECLARED).Arrival date and time estimated&gt; field is considered valid only if it is not LESS than or EQUAL to &lt;TRANSIT OPERATION.Release date&gt;

<b>Technical Description</b>

The value of /<span>&#42;</span>/CustomsOfficeOfTransitDeclared/arrivalDateAndTimeEstimated field is considered valid only if it is not LESS than or EQUAL to /<span>&#42;</span>/TransitOperation/releaseDate

##R0005

<b>Functional Description</b>

The value of &lt;CUSTOMS OFFICE OF TRANSIT (DECLARED).Arrival date and time estimated&gt; field is considered valid only if it is not LESS than or EQUAL to &lt;MESSAGE. Preparation date and time&gt;

<b>Technical Description</b>

The value of /<span>&#42;</span>/CustomsOfficeOfTransitDeclared/arrivalDateAndTimeEstimated field is considered valid only if it is not LESS than or EQUAL to /<span>&#42;</span>/Message/Preparation date and time

##R0006

<b>Functional Description</b>

IF the first two characters of &lt;CUSTOMS OFFICE OF DESTINATION (DECLARED). Reference number&gt; is in set [CL112](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_CountryCodesCTC.zip) (CountryCodesCTC)<br/>THEN the first two characters of at least one instance of &lt;CUSTOMS OFFICE OF TRANSIT (DECLARED). Reference number&gt; shall be EQUAL to the first two characters of &lt;CUSTOMS OFFICE OF DESTINATION (DECLARED). Reference number&gt;; <br/>IF the first two characters of &lt;CUSTOMS OFFICE OF DEPARTURE.Reference number&gt; is in set CL112 (CountryCodesCTC) AND If the first two characters of &lt;CUSTOMS OFFICE OF DESTINATION (DECLARED). Reference number&gt; is in set [CL010](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_CountryCodesCommunity.zip) (CountryCodesCommunity) <br/>THEN the first two characters of at least one instance of &lt;CUSTOMS OFFICE OF TRANSIT (DECLARED). Reference number&gt; shall be in set CL010 (CountryCodesCommunity). <br/>

<b>Technical Description</b>

IF the first two characters of /<span>&#42;</span>/CustomsOfficeOfDestinationDeclared/referenceNumber is in set [CL112](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_CountryCodesCTC.zip)<br/>THEN the first two characters of at least one instance of /<span>&#42;</span>/CustomsOfficeOfTransitDeclared/referenceNumber shall be EQUAL to the first two characters of /<span>&#42;</span>/CustomsOfficeOfDestinationDeclared/referenceNumber;<br/>If the first two characters of /<span>&#42;</span>/CustomsOfficeOfDeparture/referenceNumber is in set CL112 AND If the<br/>first two characters of /<span>&#42;</span>/CustomsOfficeOfDestinationDeclared/referenceNumber is in set [CL010](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_CountryCodesCommunity.zip) <br/>THEN the first two characters of at least one instance of<br/>/<span>&#42;</span>/CustomsOfficeOfTransitDeclared/referenceNumber shall be in SET CL010. 

##R0007

<b>Functional Description</b>

Each &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM.Declaration goods item number&gt; is unique throughout the declaration. The items shall be numbered in a sequential fashion, starting from '1' for the first item and increment the numbering by '1' for each following item.

<b>Technical Description</b>

Each /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/declarationGoodsItemNumber is unique throughout the declaration. The items shall be numbered in a sequential fashion, starting from '1' for the first item and increment the numbering by '1' for each following item.

##R0008

<b>Functional Description</b>

&lt;Correlation identifier&gt; shall be EQUAL to the &lt;Message identification&gt; of the request/rejected message.

<b>Technical Description</b>

/<span>&#42;</span>/correlationIdentifier shall be EQUAL to the /<span>&#42;</span>/messageIdentification of the request/rejected message.

##R0020

<b>Functional Description</b>

IF &lt;TRANSIT OPERATION.Declaration type&gt; is in SET {T2, T2F} AND the first two characters of &lt;CUSTOMS OFFICE OF DEPARTURE.Reference number&gt; is in SET [CL112](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_CountryCodesCTC.zip) (CountryCodesCTC)<br/>THEN <br/>(at least one &lt;CONSIGNMENT-PREVIOUS DOCUMENT.Type&gt; is in SET [CL178](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_PreviousDocumentUnionGoods.zip) (PreviousDocumentUnionGoods)) OR<br/>(at least one &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-PREVIOUS DOCUMENT.Type&gt; is in SET CL178 (PreviousDocumentUnionGoods)) <br/>for each and every Consignment Item;<br/>IF &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM.Declaration type&gt; is in SET {T2, T2F} <br/>AND the first two characters of &lt;CUSTOMS OFFICE OF DEPARTURE.Reference<br/>number&gt; is in SET CL112 (CountryCodesCTC)<br/>THEN <br/>(at least one /<span>&#42;</span>/Consignment/PreviousDocument/type is in SET CL178 (PreviousDocumentUnionGoods)) OR<br/>(at least one &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-PREVIOUS DOCUMENT.Type&gt; is in SET CL178 (PreviousDocumentUnionGoods) <br/>for this ‘Consignment item’)

<b>Technical Description</b>

IF /<span>&#42;</span>/Transit Operation/declarationType is in SET {T2, T2F}<br/>AND the first two characters of /<span>&#42;</span>/CustomsOfficeOfDeparture/referenceNumber is in SET [CL112](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_CountryCodesCTC.zip)<br/>THEN <br/>(at least one /<span>&#42;</span>/Consignment/PreviousDocument/type is in SET [CL178](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_PreviousDocumentUnionGoods.zip) ) OR<br/>(at least one /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/PreviousDocument/type is in SET CL178) for each and every Consignment Item;<br/>IF /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/declarationType is in SET {T2, T2F} <br/>AND the first two characters of /<span>&#42;</span>/CustomsOfficeOfDeparture/referenceNumber is in SET CL112<br/>THEN <br/>(at least one /<span>&#42;</span>/Consignment/PreviousDocument/type is in SET CL178) OR<br/>(at least one /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/PreviousDocument/type is in SET CL178 for this ‘Consignment item’)<br/>

##R0023

<b>Functional Description</b>

IF &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-ADDITIONAL REFERENCE.Type&gt; is in SET [CL234](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_DocumentTypeExcise.zip) (DocumentTypeExcise)<br/>THEN &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-ADDITIONAL REFERENCE.Reference number&gt; shall not be ‘0’ (zero)

<b>Technical Description</b>

IF /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/AdditionalReference/type is in SET [CL234](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_DocumentTypeExcise.zip) (DocumentTypeExcise)<br/>THEN /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/AdditionalReference/referenceNumber shall not be ‘0’ (zero)

##R0026

<b>Functional Description</b>

This Data Group must include the same values as in the equivalent Data Group from the 'Transit Presentation Notification' (CC190C).

<b>Technical Description</b>

/CC191C/TransitOperation/ must be EQUAL to /CC190C/TransitOperation/ AND<br/>/CC191C/CustomsOfficeOfExit/ must be EQUAL to /CC190C/CustomsOfficeOfExit/ AND<br/>/CC191C/CustomsOfficeOfDeparture/ must be EQUAL to /CC190C/CustomsOfficeOfDeparture

##R0028

<b>Functional Description</b>

The structure of this Data Item is validated as specified in DDCOM. The check digit must follow the ISO 6346 standard.

<b>Technical Description</b>

The structure of this Data Item is validated as specified in DDCOM. The check digit must follow the ISO 6346 standard.

##R0054

<b>Functional Description</b>

Numbering of items: <br/><br/>IF a discrepancy is identified in the Data Group THEN:

- 'Sequence number' shall be unique AND EQUAL to the sequence number of the Data Group  defined in the declaration for which the discrepancy is reported. 

IF a new Data Group is identified THEN:

- 'Sequence number' shall be unique AND EQUAL to the number of the last sequence number of the Data Group + 1 and the rest of the Data Items contained in the Data Group and all sub–Data Groups shall be filled in except for the Data Elements that are defined as optional or dependent in the declaration.

IF the information related to a Data Group is missing THEN:

- 'Sequence number' shall be unique AND EQUAL to the sequence number of the Data Group defined in the declaration and the rest of the Data Items contained in the Data Group and all sub–Data Groups shall not be filled.

**Note:** The Sequence number of a Data Group is unique if the XPath and the value of the sequence number of this Data Item is unique in this message. <br/>

<b>Technical Description</b>

Numbering of items: <br/><br/>IF a discrepancy is identified in the Data Group THEN:

- 'Sequence number' shall be unique AND EQUAL to the sequence number of the Data <br/>     Group  defined in the declaration for which the discrepancy is reported.

IF a new Data Group is identified THEN:

- 'Sequence number' shall be unique AND EQUAL to the number of the last sequence number of the Data Group + 1 and the rest of the Data Items contained in the Data Group and all sub–Data Groups shall be filled in except for the Data Elements that are defined as optional or dependent in the declaration.

IF the information related to a Data Group is missing THEN:

- 'Sequence number' shall be unique AND EQUAL to the sequence number of the Data Group defined in the declaration and the rest of the Data Items contained in the Data Group and all sub–Data Groups shall not be filled.

**Note:** The Sequence number of a Data Group is unique if the XPath and the value of the sequence number of this Data Item is unique in this message. <br/>

##R0055

<b>Functional Description</b>

Numbering of items: <br/><br/>IF a discrepancy is identified in the Data Group THEN:

- ‘Declaration goods item number' shall be unique AND EQUAL to the declaration goods item number defined in the declaration for which the discrepancy is reported AND
- 'Goods item number’ shall be unique AND EQUAL to the goods item number defined in the declaration for which the discrepancy is reported.

IF a new Data Group is identified THEN:

- ‘Declaration goods item number' shall be unique AND EQUAL to the last declaration goods item number defined in the declaration + 1 AND
- 'Goods item number’ shall be unique AND EQUAL to the last goods item number defined in the declaration + 1 AND  the rest of the Data Items contained in the Data Group and all sub–Data Groups shall be filled in except for the Data Elements that are defined as optional or dependent in the  declaration.

IF a Goods item is missing THEN:

- ‘Declaration goods item number' shall be unique AND EQUAL to the number of the declaration goods item number defined in the declaration AND
- 'Goods item number’ shall be unique AND EQUAL to the  item number defined in the declaration AND the rest of the Data Items contained in the Data Group and all sub–Data Groups shall not be filled.

**Note:** The Sequence number of a Data Group is unique if the XPath and the value of the sequence number of this Data Item is unique in this message. <br/>

<b>Technical Description</b>

Numbering of items: <br/><br/>IF a discrepancy is identified in the Data Group THEN: 

- ‘Declaration goods item number' shall be unique AND EQUAL to the declaration goods item number defined in the declaration for which the discrepancy is reported AND
- 'Goods item number’ shall be unique AND EQUAL to the goods item number defined in the declaration for which the discrepancy is reported.

IF a new Data Group is identified THEN:

- ‘Declaration goods item number' shall be unique AND EQUAL to the last declaration goods item number defined in the declaration + 1 AND
- 'Goods item number’ shall be unique AND EQUAL to the last goods item number defined in the declaration + 1 AND  the rest of the Data Items contained in the Data Group and all sub–Data Groups shall be filled in except for the Data Elements that are defined as optional or dependent in the declaration.

IF a Goods item is missing THEN:

- ‘Declaration goods item number' shall be unique AND EQUAL to the number of the declaration goods item number defined in the declaration AND
- 'Goods item number’ shall be unique AND EQUAL to the  item number defined in the declaration AND the rest of the Data Items contained in the Data Group and all sub–Data Groups shall not be filled.

**Note:** The Sequence number of a Data Group is unique if the XPath and the value of the sequence number of this Data Item is unique in this message. <br/>

##R0060

<b>Functional Description</b>

IF &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-COMMODITY-COMMODITY  CODE.Combined nomenclature code&gt; is PRESENT <br/>THEN the concatenation of the Data Items &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-COMMODITY-COMMODITY CODE.Harmonized System sub-heading code&gt; (an6) and &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-COMMODITY-COMMODITY CODE.Combined nomenclature code&gt; (an2) must be a valid code in the TARIC database (validated only by the EU countries).<br/>

<b>Technical Description</b>

IF /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/Commodity/<br/>CommodityCode/combinedNomenclatureCode is PRESENT <br/>THEN the concatenation of the Data Items /<span>&#42;</span>/Consignment/HouseConsignment/<br/>ConsignmentItem/Commodity/CommodityCode/harmonizedSystemSubHeadingCode (an6) and /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/Commodity/<br/>CommodityCode/combinedNomenclatureCode (an2) must be a valid code in the TARIC database (validated only by the EU countries).<br/>

##R0076

<b>Functional Description</b>

IF &lt;CONSIGNMENT-ACTIVE BORDER TRANSPORT MEANS.Type of identification&gt; is in SET {10,21,30,40,41,80}<br/>THEN &lt;CONSIGNMENT-ACTIVE BORDER TRANSPORT MEANS. Identification number&gt; must not contain lowercase letters.

<b>Technical Description</b>

IF /<span>&#42;</span>/Consignment/ActiveBorderTransportMeans/typeOfIdentification is in SET {10,21,30,40,41,80}<br/>THEN /<span>&#42;</span>/Consignment/ActiveBorderTransportMeans/identificationNumber shall not contain lowercase letters.

##R0100

<b>Functional Description</b>

If &lt;TRADER AT DESTINATION.Communication language at destination&gt; is PRESENT, then the indicated language is used as the basic language in any further communication between the Trader and the Customs system. If &lt;TRADER AT DESTINATION.Communication language at destination&gt; is not PRESENT then the Customs system will use the default language of the Office concerned;<br/>If &lt;TRANSIT OPERATION.Communication language at departure&gt; is PRESENT, then the indicated language is used as the basic language in any further communication between the Trader and the Customs system. If &lt;TRANSIT OPERATION.Communication language at departure&gt; is not PRESENT then the Customs system will use the default language of the Office concerned.

<b>Technical Description</b>

If /<span>&#42;</span>/TraderAtDestination/communicationLanguageAtDestination is PRESENT, then the indicated language is used as the basic language in any further communication between the Trader and the Customs system. If /<span>&#42;</span>/TraderAtDestination/communicationLanguageAtDestination is not PRESENT then the Customs system will use the default language of the Office concerned;<br/>If /<span>&#42;</span>/TransitOperation/communicationLanguageAtDeparture is PRESENT, then the indicated language is used as the basic language in any further communication between the Trader and the Customs system. If /<span>&#42;</span>/TransitOperation/communicationLanguageAtDeparture is not PRESENT then the Customs system will use the default language of the Office concerned.

##R0102

<b>Functional Description</b>

Data item &lt;INVALIDATION.Decision&gt; can contain 2 valid values:

- ‘0’ = ‘No’: Invalidation refused by Customs: Decision
- ‘1’ = ‘Yes’: Invalidation accepted by Customs: Decision

<b>Technical Description</b>

Data item /<span>&#42;</span>/Invalidation/decision can contain 2 valid values:

- ‘0’ = ‘No’: Invalidation refused by Customs: Decision
- ‘1’ = ‘Yes’: Invalidation accepted by Customs: Decision

##R0103

<b>Functional Description</b>

IF &lt;CUSTOMS OFFICE OF EXIT FOR TRANSIT (DECLARED)&gt; is PRESENT <br/>THEN <br/>&lt;CUSTOMS OFFICE OF EXIT FOR TRANSIT (DECLARED). Reference number&gt; is NOT EQUAL to <br/>&lt;CUSTOMS OFFICE TRANSIT (DECLARED).Reference number&gt; AND is NOT EQUAL to &lt;CUSTOMS OFFICE OF DESTINATION (DECLARED).Reference number&gt; <br/>

<b>Technical Description</b>

IF /<span>&#42;</span>/CustomsOfficeOfExitForTransitDeclared is PRESENT <br/>THEN <br/>/<span>&#42;</span>/CustomsOfficeOfExitForTransitDeclared/referenceNumber is NOT EQUAL to <br/>/<span>&#42;</span>/CustomsOfficeOfTransitDeclared/referenceNumber AND is NOT EQUAL to /<span>&#42;</span>/CustomsOfficeOfDestinationDeclared/referenceNumber <br/>

##R0106

<b>Functional Description</b>

&lt;TRANSPORT EQUIPMENT.Number of seals&gt; is EQUAL to the ‘maximum value of &lt;TRANSPORT EQUIPMENT- SEAL.Sequence number&gt;’ for THIS instance of Transport Equipment.<br/>

<b>Technical Description</b>

/<span>&#42;</span>/TransportEquipment/numberOfSeals is EQUAL to the ‘maximum value of<br/>/<span>&#42;</span>/TransportEquipment/Seal/sequenceNumber’ for THIS instance of Transport Equipment.<br/>

##R0107

<b>Functional Description</b>

&lt;TRANSPORT EQUIPMENT-SEAL.Identifier&gt; is unique in the whole declaration.

<b>Technical Description</b>

/<span>&#42;</span>/TransportEquipment/Seal/identifier is unique in the whole declaration.<br/>

##R0165

<b>Functional Description</b>

IF the declaration is submitted under simplified procedure AND the authorisation of which foresees the use of seals<br/>THEN &lt;CONSIGNMENT-TRANSPORT EQUIPMENT.Number of seals&gt; is GREATER than '0'.

<b>Technical Description</b>

IF the declaration is submitted under simplified procedure AND the authorisation of which foresees the use of seals<br/>THEN /<span>&#42;</span>/Consignment/TransportEquipment/numberOfSeals&gt; is GREATER than '0'.

##R0219

<b>Functional Description</b>

IF &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-PACKAGING.Number of packages&gt; is EQUAL to '0' (zero)<br/>
THEN no further data group &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM- PACKAGING&gt; with a value not equal to '0' (zero) in the data item &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-PACKAGING.Number of packages&gt; is specified for this data group &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM&gt;.

<b>Technical Description</b>

IF /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/Packaging/numberOfPackages is EQUAL to '0' (zero)<br/>
THEN no further data group /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/Packaging with a value not equal to '0' (zero) in the data item <br/>/<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/Packaging/numberOfPackages is specified for this data group  /<span>&#42;</span>/HouseConsignment/ConsignmentItem.

##R0220

<b>Functional Description</b>

IF &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-PACKAGING.Number of packages&gt; is EQUAL to '0' (zero)<br/>
THEN &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-PACKAGING.Type of packages&gt; shall not be in SET [CL182](/guides/ctc-traders-phase5-tis/downloads/CL182.zip) (KindOfPackagesUnpacked) for this data group &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM&gt;.

<b>Technical Description</b>

IF /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/Packaging/numberOfPackages is EQUAL to '0' (zero)<br/>
THEN /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/Packaging/typeOfPackages shall not be in SET [CL182](/guides/ctc-traders-phase5-tis/downloads/CL182.zip) for this data group /<span>&#42;</span>/ Consignment/HouseConsignment/ConsignmentItem.

##R0221

<b>Functional Description</b>

IF &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-PACKAGING.Number of packages&gt; is EQUAL to ‘0’ <br/>THEN <br/>      for THIS CONSIGNMENT ITEM <br/>      &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-COMMODITY-GOODS <br/>      MEASURE.Gross mass&gt; is EQUAL to ‘0’<br/>AND<br/>      for THIS HOUSE CONSIGNMENT at least one other CONSIGNMENT ITEM must exist with <br/>      &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-COMMODITY-GOODS <br/>      MEASURE.Gross mass&gt; having a value different from ‘0’<br/>ELSE for THIS CONSIGNMENT ITEM <br/>      &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-COMMODITY-GOODS <br/>      MEASURE.Gross mass&gt; must be different from ‘0’.

<b>Technical Description</b>

IF /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/Packaging/numberOfPackages is EQUAL to ‘0’ <br/>THEN <br/>      for THIS CONSIGNMENT ITEM<br/>      /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/Commodity/GoodsMeasure/grossMass is <br/>      EQUAL to ‘0’<br/>AND<br/>      for THIS HOUSE CONSIGNMENT at least one other CONSIGNMENT ITEM must exist with<br/>      /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/Commodity/GoodsMeasure/grossMass <br/>      having a value different from ‘0’<br/>ELSE for THIS CONSIGNMENT ITEM <br/>      /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/Commodity/GoodsMeasure/grossMass <br/>      must be different from ‘0’.

##R0223

<b>Functional Description</b>

IF &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-COMMODITY-GOODS MEASURE.Gross mass&gt; is GREATER THAN '0' (zero value).<br/>THEN &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-COMMODITY-GOODS MEASURE.Net mass&gt; must be LESS THAN OR EQUAL to &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-COMMODITY-GOODS MEASURE.Gross mass&gt;. 

<b>Technical Description</b>

IF /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/Commodity/GoodsMeasure/grossMass is GREATER THAN ‘0’ (zero)<br/>THEN /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/Commodity/GoodsMeasure/netMass must be LESS THAN OR EQUAL to /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/Commodity/GoodsMeasure/grossMass.

##R0315

<b>Functional Description</b>

Where &lt;CONSIGNMENT.Mode of transport at the border&gt; is EQUAL to '4' the (IATA/ICAO) flight number shall be indicated and shall have a format an..8:

- an..3: mandatory prefix identifying the airline/operator
- n..4: mandatory number of the flight
- a1: optional suffix 

<b>Technical Description</b>

Where /<span>&#42;</span>/Consignment/modeOfTransportAtTheBorder is EQUAL to '4' the (IATA/ICAO) flight number shall be indicated and shall have a format an..8:

- an..3: mandatory prefix identifying the airline/operator
- n..4: mandatory number of the flight
- a1: optional suffix<br/>

##R0318

<b>Functional Description</b>

IF &lt;GUARANTEE.Guarantee type&gt; is EQUAL to '4'<br/>THEN the format of &lt;GUARANTEE-GUARANTEE REFERENCE.GRN&gt; is 'an24'<br/>ELSE the format of &lt;GUARANTEE-GUARANTEE REFERENCE.GRN&gt; is 'an17'

<b>Technical Description</b>

IF /<span>&#42;</span>/Guarantee/guaranteeType is EQUAL to '4'<br/>THEN the format of /<span>&#42;</span>/Guarantee/GuaranteeReference/GRN is 'an24'<br/>ELSE the format of /<span>&#42;</span>/Guarantee/GuaranteeReference/GRN is 'an17'<br/>

##R0324

<b>Functional Description</b>

The format of &lt;GUARANTEE REFERENCE.GRN&gt; is 'an17' 

<b>Technical Description</b>

The format of /<span>&#42;</span>/GuaranteeReference/GRN is 'an17' 

##R0350

<b>Functional Description</b>

IF &lt;TRANSIT OPERATION.Reduced dataset indicator&gt; is EQUAL to '1'<br/>AND<br/>&lt;CONSIGNMENT.Inland mode of transport&gt; is in SET {1, 2, 4} <br/>THEN <br/>at least one &lt;AUTHORISATION.Type&gt; is EQUAL to 'C524' 

<b>Technical Description</b>

IF /<span>&#42;</span>/TransitOperation/reducedDatasetIndicator&gt; is EQUAL to '1'<br/>AND /<span>&#42;</span>/Consignment/inlandModeOfTransport is in SET {1, 2, 4} <br/>THEN <br/>at least one /<span>&#42;</span>/Authorisation/type is EQUAL to 'C524' 

##R0352

<b>Functional Description</b>

IF &lt;TRANSIT OPERATION.Reduced dataset indicator&gt; is EQUAL to '1'<br/>AND<br/>&lt;CONSIGNMENT.Inland mode of transport&gt; is in SET {1, 2, 4}  <br/>THEN <br/>this Data Item includes at least one &lt;Authorisation number&gt; for a valid Authorisation for Reduced Data Set owned by the Holder of the Transit Procedure

<b>Technical Description</b>

IF /<span>&#42;</span>/TransitOperation/reducedDatasetIndicator&gt; is EQUAL to '1'<br/>AND /<span>&#42;</span>/Consignment/inlandModeOfTransport is in SET {1, 2, 4}  <br/>THEN <br/>this Data Item includes at least one &lt;Authorisation number&gt; for a valid Authorisation for Reduced Data Set owned by the Holder of the Transit Procedure

##R0364

<b>Functional Description</b>

IF&lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-PACKAGING.Number of<br/>Packages&gt; is EQUAL to ‘0’<br/>THEN for THIS HOUSE CONSIGNMENT at least one other CONSIGNMENT ITEM must exist with<br/>(the same &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-PACKAGING.Shipping marks&gt; AND with &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-PACKAGING.Number of packages&gt; having a value GREATER than ‘0’).

<b>Technical Description</b>

IF /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/Packaging/numberOfPackages is EQUAL to<br/>‘0’<br/>THEN for THIS HOUSE CONSIGNMENT at least one other CONSIGNMENT ITEM must exist with<br/>(the same /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/Packaging/shippingMarks AND with /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/Packaging/numberOfPackages having a value GREATER than ‘0’).<br/>

##R0410

<b>Functional Description</b>

IF &lt;CC015C-TRANSIT OPERATION.Security&gt; (the transit declaration includes ENS data for safety and security purposes [only]) is EQUAL to ‘1’<br/>THEN the 17th character of MRN is EQUAL to 'L'<br/>ELSE IF &lt;TRANSIT OPERATION.Security&gt; (the transit declaration includes EXS data for safety and security purposes [only]) is EQUAL to ‘2’<br/>THEN the 17th character of MRN is EQUAL to 'K'<br/>ELSE IF &lt;TRANSIT OPERATION.Security&gt; (the transit declaration includes ENS and EXS data for safety and security purposes [only]) is EQUAL to ‘3’ <br/>THEN the 17th character of MRN is EQUAL to 'M'<br/>ELSE the 17th character of MRN is EQUAL to 'J'

<b>Technical Description</b>

IF /CC015C/TransitOperation/security (the transit declaration includes ENS data for safety and security purposes [only]) is EQUAL to ‘1’<br/>THEN the 17th character of MRN is EQUAL to 'L'<br/>ELSE IF /<span>&#42;</span>/TransitOperation/security (the transit declaration includes EXS data for safety and security purposes [only]) is EQUAL to EQUAL to ‘2’<br/>THEN the 17th character of MRN is EQUAL to 'K'<br/>ELSE IF <span>&#42;</span>/TransitOperation/security (the transit declaration includes ENS and EXS data for safety and security purposes [only]) is EQUAL to ‘3’<br/>THEN the 17th character of MRN is EQUAL to 'M'<br/>ELSE the 17th character of MRN is EQUAL to 'J'

##R0416

<b>Functional Description</b>

The Data Item &lt;CONSIGNMENT-HOUSE CONSIGNMENT-PREVIOUS DOCUMENT. Reference Number&gt; must include a valid ‘Export declaration’ or an ‘Export and exit summary declaration’ or a ‘Dispatch of goods in relation with special fiscal territories’.<br/>

<b>Technical Description</b>

The Data Item /<span>&#42;</span>/Consignment/HouseConsignment/PreviousDocument/referenceNumber must include a valid export MRN. The 17th character must be in SET {A, B, E}.<br/>

##R0448

<b>Functional Description</b>

IF &lt;CONSIGNMENT-TRANSPORT EQUIPMENT.Container identification number&gt; is NOT PRESENT<br/>THEN the value '0' (zero) is not valid for &lt;CONSIGNMENT-TRANSPORT<br/>EQUIPMENT.Number of seals&gt;; <br/><br/>IF &lt;CONSIGNMENT-INCIDENT-TRANSPORT EQUIPMENT.Container identification number&gt; is NOT PRESENT<br/>THEN the value '0' (zero) is not valid for &lt;CONSIGNMENT-INCIDENT-TRANSPORT EQUIPMENT.Number of seals&gt;

<b>Technical Description</b>

IF /<span>&#42;</span>/Consignment/TransportEquipment/containerIdentificationNumber is NOT PRESENT<br/>THEN the value '0' (zero) is not valid for<br/>/<span>&#42;</span>/Consignment/TransportEquipment/numberOfSeals;<br/><br/>IF /<span>&#42;</span>/Consignment/Incident/TransportEquipment/containerIdentificationNumber is NOT PRESENT<br/>THEN the value '0' (zero) is not valid for<br/>/<span>&#42;</span>/Consignment/Incident/TransportEquipment/numberOfSeals

##R0449

<b>Functional Description</b>

The value of &lt;CC042C-EXPORT OPERATION.MRN&gt; must be one of the values &lt;CC191C-AES RESULTS-EXPORT OPERATION.MRN&gt; included in the last message 'Transit Presentation Notification Response' (CC191C) received from AES by NCTS

<b>Technical Description</b>

The value of /CC042C/ExportOperation/MRN must be one of the values /CC191C/AESResults/ExportOperation/MRN included in the last message 'Transit Presentation Notification Response' (CC191C) received from AES by NCTS

##R0472

<b>Functional Description</b>

IF &lt;CONSIGNMENT.Inland mode of transport&gt; is in SET {1,2,3,4,8} <br/>THEN <br/>       IF &lt;CONSIGNMENT-DEPARTURE TRANSPORT MEANS&gt; is PRESENT <br/>       THEN  <br/>              the first digit of &lt;CONSIGNMENT-DEPARTURE TRANSPORT MEANS.Type of <br/>              identification&gt; shall be EQUAL to &lt;CONSIGNMENT.Inland mode of transport&gt; <br/>       ELSE IF &lt;CONSIGNMENT-HOUSE CONSIGNMENT-DEPARTURE TRANSPORT <br/>       MEANS&gt; is PRESENT <br/>       THEN  <br/>              the first digit of &lt;CONSIGNMENT-HOUSE CONSIGNMENT-DEPARTURE <br/>              TRANSPORT MEANS.Type of identification&gt; shall be EQUAL to <br/>              &lt;CONSIGNMENT.Inland mode of transport&gt; 

<b>Technical Description</b>

IF /<span>&#42;</span>/Consignment/inlandModeOfTransport is in SET {1,2,3,4,8} <br/>THEN <br/>      IF /<span>&#42;</span>/Consignment/DepartureTransportMeans is PRESENT <br/>      THEN  <br/>            the first digit of /<span>&#42;</span>/Consignment/DepartureTransportMeans/typeOfIdentification shall be <br/>            EQUAL to /<span>&#42;</span>/Consignment/inlandModeOfTransport <br/>      ELSE IF /<span>&#42;</span>/Consignment/HouseConsignment/DepartureTransportMeans is PRESENT <br/>      THEN  <br/>            the first digit of <br/>             /<span>&#42;</span>/Consignment/HouseConsignment/DepartureTransportMeans/typeOfIdentification <br/>             shall be EQUAL to /<span>&#42;</span>/Consignment/inlandModeOfTransport <br/>

##R0473

<b>Functional Description</b>

IF &lt;CONSIGNMENT-DEPARTURE TRANSPORT MEANS&gt; is PRESENT AND <br/>&lt;CONSIGNMENT-DEPARTURE TRANSPORT MEANS.Type of identification&gt; is in SET {10,20,21,30,31,40,41,80}<br/>THEN &lt; CONSIGNMENT-DEPARTURE TRANSPORT MEANS.Identification number&gt; shall not contain lowercase letters<br/>ELSE IF &lt;CONSIGNMENT-HOUSE CONSIGNMENT-DEPARTURE TRANSPORT MEANS&gt; is PRESENT AND &lt;CONSIGNMENT- HOUSE CONSIGNMENT-DEPARTURE TRANSPORT MEANS.Type of identification&gt; is in SET {10,20,21,30,31,40,41,80}<br/>THEN &lt; CONSIGNMENT- HOUSE CONSIGNMENT-DEPARTURE TRANSPORT MEANS.Identification number&gt; shall not contain lowercase letters

<b>Technical Description</b>

IF /<span>&#42;</span>/Consignment/DepartureTransportMeans is PRESENT AND /<span>&#42;</span>/Consignment/DepartureTransportMeans/typeofIdentification is in SET {10,20,21,30,31,40,41,80}<br/>THEN /<span>&#42;</span>/Consignment/DepartureTransportMeans/IdentificationNumber shall not contain lowercase letters<br/>ELSE IF /<span>&#42;</span>/Consignment/HouseConsignment/DepartureTransportMeans is PRESENT AND /<span>&#42;</span>/Consignment/HouseConsignment/DepartureTransportMeans/typeofIdentification is in SET {10,20,21,30,31,40,41,80}<br/>THEN /<span>&#42;</span>/Consignment/HouseConsignment/DepartureTransportMeans/IdentificationNumber shall not contain lowercase letters<br/>

##R0474

<b>Functional Description</b>

IF &lt;CONSIGNMENT.Inland mode of transport&gt; is EQUAL to '3'<br/>THEN the first data group iteration &lt;Consignment-Departure Transport Means.Type of identification&gt; must be EQUAL to '30';<br/>IF &lt;CONSIGNMENT.Inland mode of transport&gt; is EQUAL to '3'<br/>AND &lt;CONSIGNMENT-DEPARTURE TRANSPORT MEANS&gt; is PRESENT<br/>THEN for THIS House Consignment, the first data group iteration &lt;CONSIGNMENT-HOUSE CONSIGNMENT-DEPARTURE TRANSPORT MEANS.Type of identification&gt; must be EQUAL to '30'<br/>

<b>Technical Description</b>

IF /<span>&#42;</span>/Consignment/inlandModeOfTransport is EQUAL to '3'<br/>THEN the first data group iteration /<span>&#42;</span>/Consignment/DepartureTransportMeans/typeOfIdentification must be EQUAL to '30';<br/>IF /<span>&#42;</span>/Consignment/inlandModeOfTransport is EQUAL to '3'<br/>AND /<span>&#42;</span>/Consignment/House Consignment/DepartureTransportMeans is PRESENT<br/>THEN for THIS House Consignment, the first data group iteration   /<span>&#42;</span>/Consignment/HouseConsignment/DepartureTransportMeans/typeOfIdentification must be EQUAL to '30'.<br/>

##R0476

<b>Functional Description</b>

IF &lt;CONSIGNMENT.Inland mode of transport&gt; is EQUAL to '3'<br/>THEN <br/>         IF the multiplicity of the data group &lt;CONSIGNMENT-DEPARTURE TRANSPORT <br/>          MEANS&gt; is more than 1x<br/>          THEN the iteration 2 and the iteration 3 (if present) of the data group <br/>         &lt;CONSIGNMENT-DEPARTURE TRANSPORT MEANS&gt; must include <br/>         &lt;CONSIGNMENT-DEPARTURE TRANSPORT MEANS.Type of identification&gt; <br/>          that is EQUAL to '31'<br/>          ELSE IF the multiplicity of the data group &lt;CONSIGNMENT-HOUSE <br/>          CONSIGNMENT- DEPARTURE TRANSPORT MEANS&gt; is more than 1x<br/>          THEN the iteration 2 and the iteration 3 (if present) of the data group <br/>          &lt;CONSIGNMENT- HOUSE CONSIGNMENT-DEPARTURE TRANSPORT <br/>          MEANS&gt; must include &lt;CONSIGNMENT-HOUSE CONSIGNMENT- <br/>          DEPARTURE TRANSPORT MEANS.Type of identification&gt; that is EQUAL to '31'

<b>Technical Description</b>

IF /<span>&#42;</span>/Consignment/inlandModeOfTransport is EQUAL to '3'<br/>THEN <br/>       IF the multiplicity of the data group /<span>&#42;</span>/Consignment/DepartureTransportMeans is <br/>        more than 1x<br/>        THEN the iteration 2 and the iteration 3 (if present) of the data group <br/>         /<span>&#42;</span>/Consignment/DepartureTransportMeans must include <br/>        /<span>&#42;</span>/Consignment/DepartureTransportMeans/typeOfIdentification that is EQUAL to <br/>        '31'<br/>        ELSE IF the multiplicity of the data group <br/>        /<span>&#42;</span>/Consignment/HouseConsignment/DepartureTransportMeans is more than 1x<br/>        THEN the iteration 2 and the iteration 3 (if present) of the data group <br/>        /<span>&#42;</span>/Consignment/HouseConsignment/DepartureTransportMeans must include <br/>        /<span>&#42;</span>/Consignment/HouseConsignment/DepartureTransportMeans/typeOfIdentification <br/>        that is EQUAL to '31'

##R0506

<b>Functional Description</b>

IF &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNOR&gt; is PRESENT for all &lt;CONSIGNMENT-HOUSE CONSIGNMENT&gt; <br/>THEN at least one occurrence of &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNOR&gt; must be different from the others;<br/><br/>IF &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNEE&gt; is PRESENT for all &lt;CONSIGNMENT-HOUSE CONSIGNMENT&gt; <br/>THEN at least one occurrence of &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNEE&gt; must be different from the others;<br/><br/>IF &lt;CONSIGNMENT-HOUSE CONSIGNMENT-DEPARTURE TRANSPORT MEANS&gt; is PRESENT for all &lt;CONSIGNMENT-HOUSE CONSIGNMENT&gt; <br/>THEN at least one occurrence of &lt;CONSIGNMENT-HOUSE CONSIGNMENT-DEPARTURE TRANSPORT MEANS&gt; must be different from the others;<br/><br/>IF &lt;CONSIGNMENT-HOUSE CONSIGNMENT- TRANSPORT CHARGES&gt; is PRESENT for all &lt;CONSIGNMENT-HOUSE CONSIGNMENT&gt;<br/>THEN at least one occurrence of &lt;CONSIGNMENT-HOUSE CONSIGNMENT- TRANSPORT CHARGES&gt; must be different from the others; <br/><br/>IF &lt;CONSIGNMENT-HOUSE CONSIGNMENT.Reference number UCR&gt; is PRESENT for all &lt;CONSIGNMENT-HOUSE CONSIGNMENT&gt; <br/>THEN at least one occurrence of &lt;CONSIGNMENT-HOUSE CONSIGNMENT.Reference number UCR&gt; must be different from the others;<br/><br/>IF &lt;CONSIGNMENT-HOUSE CONSIGNMENT.Country of dispatch&gt; is PRESENT for all &lt;CONSIGNMENT-HOUSE CONSIGNMENT&gt; <br/>THEN at least one occurrence of &lt;CONSIGNMENT-HOUSE CONSIGNMENT.Country of dispatch&gt; must be different from the others.<br/>

<b>Technical Description</b>

IF /<span>&#42;</span>/Consignment/HouseConsignment/Consignor is PRESENT for all /<span>&#42;</span>/Consignment/HouseConsignment/ <br/>THEN at least one occurrence of /<span>&#42;</span>/Consignment/HouseConsignment/Consignor must be different from the others;<br/><br/>IF /<span>&#42;</span>/Consignment/HouseConsignment/Consignee is PRESENT for all /<span>&#42;</span>/Consignment/HouseConsignment/ <br/>THEN at least one occurrence of /<span>&#42;</span>/Consignment/HouseConsignment/Consignee must be different from the others;<br/><br/>IF /<span>&#42;</span>/Consignment/HouseConsignment/DepartureTransportMeans is PRESENT for all /<span>&#42;</span>/Consignment/HouseConsignment <br/>THEN at least one occurrence of /<span>&#42;</span>/Consignment/HouseConsignment/DepartureTransportMeans must be different from the others;<br/><br/>IF /<span>&#42;</span>/Consignment/HouseConsignment/TransportCharges is PRESENT for all /<span>&#42;</span>/Consignment/HouseConsignment<br/>THEN at least one occurrence of /<span>&#42;</span>/Consignment/HouseConsignment/TransportCharges must be different from the others;<br/><br/>IF /<span>&#42;</span>/Consignment/HouseConsignment/referenceNumberUCR is PRESENT for all /<span>&#42;</span>/Consignment/HouseConsignment/ <br/>THEN at least one occurrence of /<span>&#42;</span>/Consignment/HouseConsignment/referenceNumberUCR must be different from the others;<br/><br/>IF /<span>&#42;</span>/Consignment/HouseConsignment/countryOfDispatch is PRESENT for all /<span>&#42;</span>/Consignment/HouseConsignment/ <br/>THEN at least one occurrence of /<span>&#42;</span>/Consignment/HouseConsignment/countryOfDispatch must be different from the others.

##R0507

<b>Functional Description</b>

IF &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM.Country of dispatch&gt; is PRESENT for all <br/>             &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM&gt; <br/>THEN at least one occurrence of &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM.Country <br/>              of dispatch&gt; must be different from the others; <br/>IF &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM.Country of destination&gt; is PRESENT for <br/>              all &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM&gt; <br/>THEN at least one occurrence of &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM.Country <br/>              of destination&gt; must be different from the others; <br/>IF &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM.Reference number UCR&gt; is PRESENT for <br/>              all &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM&gt; <br/>THEN at least one occurrence of &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM.Reference <br/>              number UCR&gt; must be different from the others; <br/>IF &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM. Declaration type &gt; is PRESENT for all <br/>              &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM&gt; <br/>THEN at least one occurrence of &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT <br/>              ITEM.Declaration type&gt; must be different from the others. <br/>

<b>Technical Description</b>

IF /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/countryOfDispatch is PRESENT for all <br/>           /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem <br/>THEN at least one occurrence of <br/>           /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/countryOfDispatch must be different from the others; <br/>IF /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/countryOfDestination is PRESENT for all <br/>          /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem <br/>THEN at least one occurrence of <br/>         /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/countryOfDestination must be different from the others; <br/>IF /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/referenceNumberUCR is PRESENT for all <br/>         /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem <br/>THEN at least one occurrence of <br/>         /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/referenceNumberUCR must be different from the others; <br/>IF /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/declarationType is PRESENT for all <br/>        /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem <br/>THEN at least one occurrence of <br/>        /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/declarationType must be different from the others <br/>

##R0509

<b>Functional Description</b>

The &lt;CC190C-CUSTOMS OFFICE OF DEPARTURE.Reference number&gt; shall be EQUAL to the &lt;CC190C-CUSTOMS OFFICE OF EXIT.Reference number&gt;.

<b>Technical Description</b>

The /CC190C/CustomsOfficeOfDeparture/referenceNumber shall be EQUAL to the <br/>/CC190C/CustomsOfficeOfExit/referenceNumber.<br/>

##R0510

<b>Functional Description</b>

IF the D.G. &lt;CC190C-CONSIGNMENT-LOCATION OF GOODS-ADDRESS&gt; is PRESENT<br/>THEN &lt;CC190C-CONSIGNMENT-LOCATION OF GOODS-ADDRESS.Country shall be EQUAL to the country code (first two characters) in the &lt;CC190-CUSTOMS OFFICE OF DEPARTURE.Reference number&gt;<br/>ELSE<br/>IF the D.G. &lt;CC190C-CONSIGNMENT-LOCATION OF GOODS-POSTCODE ADDRESS&gt; is PRESENT<br/>THEN &lt;CC190C-CONSIGNMENT-LOCATION OF GOODS-POSTCODE ADDRESS.Country&gt; shall be EQUAL to the country code (first two characters) in the &lt;CC190-CUSTOMS OFFICE OF DEPARTURE.Reference number&gt;

<b>Technical Description</b>

IF the D.G. /CC190C/Consignment/LocationOfGoods/Address is PRESENT<br/>THEN /CC190C/Consignment/LocationOfGoods/Address/country shall be EQUAL to the first two characters of /CC190C/CustomsOfficeOfDeparture/referenceNumber<br/>ELSE<br/>IF the D.G. /CC190C/Consignment/LocationOfGoods/PostcodeAddress is PRESENT<br/>THEN /CC190C/Consignment/LocationOfGoods/PostcodeAddress/country shall be EQUAL to the first two characters of /CC190C/CustomsOfficeOfDeparture/referenceNumber.

##R0520

<b>Functional Description</b>

IF ( the Data Item &lt;TRANSIT OPERATION.Amendment type flag&gt; is EQUAL to ‘1' and the movement is in state “Guarantee under amendment”) (i.e. the message CC013C is used for amending the Guarantee previously declared while the movement is in state “Guarantee under amendment”)<br/>THEN<br/>the only difference between this CC013C and the CC015C (or the previous CC013C) shall be located<br/>in the Data Group &lt;GUARANTEE&gt;<br/>ELSE<br/>IF (the Data Item &lt;TRANSIT OPERATION.Amendment type flag&gt; is EQUAL to ‘0' AND the movement IS NOT IN STATE “Guarantee under amendment”) <br/>THEN<br/>all Data Groups and Data Items of the original declaration can be amended, with the exception of the following Data Groups:

- &lt;HOLDER OF THE TRANSIT PROCEDURE&gt;
- &lt;REPRESENTATIVE&gt;<br/>
- &lt;CUSTOMS OFFICE OF DEPARTURE&gt;<br/><br/>and the exception of the following Data Items:

- &lt;TRANSIT OPERATION.Additional declaration type&gt;
- &lt;TRANSIT OPERATION.Declaration type&gt;
- &lt;TRANSIT OPERATION.MRN&gt;
- &lt;TRANSIT OPERATION.LRN&gt;
- &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-COMMODITY-COMMODITY CODE. Harmonized System sub-heading code&gt;
- &lt;TRANSIT OPERATION.Security&gt;<br/>

<b>Technical Description</b>

IF (the Data Item /CC013C/TransitOperation/amendmentTypeFlag is EQUAL to ‘1' AND the movement is in state “Guarantee under amendment”) (i.e. the message CC013C is used for amending the Guarantee previously declared while the movement is in state “Guarantee under amendment”)<br/>THEN<br/>the only difference between this CC013C and the CC015C (or the previous CC013C) shall be located in the Data Group /<span>&#42;</span>/Guarantee<br/>ELSE<br/>IF (the Data Item /<span>&#42;</span>/TransitOperation/amendmentTypeFlag is EQUAL to ‘0' AND the movement IS NOT IN STATE “Guarantee under amendment”) <br/>THEN<br/>all Data Groups and Data Items of the original declaration can be amended, with the exception of the following Data Groups:

- /<span>&#42;</span>/HolderOfTheTransitProcedure
- /<span>&#42;</span>/Representative
- /<span>&#42;</span>/CustomsOfficeOfDeparture<br/><br/>
and the exception of the following Data Items:

- /<span>&#42;</span>/TransitOperation/additionalDeclarationType
- /<span>&#42;</span>/TransitOperation/declarationType
- /<span>&#42;</span>/TransitOperation/MRN
- /<span>&#42;</span>/TransitOperation/LRN
- /<span>&#42</span>/Consignment/HouseConsignment/ConsignmentItem/Commodity/CommodityCode/harmonizedSystemSubHeadingCode
-  /<span>&#42;</span>/TransitOperation/security<br/>

##R0551

<b>Functional Description</b>

IF at least one iteration of &lt;CC191C-AES RESULTS-EXPORT OPERATION.Result indicator&gt; is in SET {N1, N2, N3, N4}<br/>THEN &lt;CC191C-AES RESULTS.Global validation response&gt; is EQUAL to '0'

<b>Technical Description</b>

IF at least one iteration of /CC191C/AESResults/ExportOperation/resultIndicator is in SET {N1, N2, N3, N4}<br/>THEN /CC191C/AESResults/globalValidationResponse is EQUAL to '0'<br/>

##R0601

<b>Functional Description</b>

IF &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-ADDITIONAL REFERENCE.Type&gt; is in SET [CL234](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_DocumentTypeExcise.zip) (DocumentTypeExcise)<br/>(i.e. Export of excise goods followed by transit (EMCS&AES+NCTS))<br/>THEN<br/>IF &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM. Declaration type&gt; is PRESENT<br/>      THEN (&lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM. <br/>      Declaration type&gt; is EQUAL to ‘T1’<br/>      AND &lt;CONSIGNMENT-HOUSE CONSIGNMENT-PREVIOUS DOCUMENT.Type&gt; is <br/>      EQUAL to ‘N830’)<br/>ELSE (&lt;TRANSIT OPERATION.Declaration type&gt; is in SET {‘T1’, ‘TIR’}  <br/>AND &lt;CONSIGNMENT-HOUSE CONSIGNMENT-PREVIOUS DOCUMENT.Type&gt; is EQUAL to ‘N830’);<br/>IF &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-SUPPORTING DOCUMENT.Type&gt; is in SET CL234 (DocumentTypeExcise)<br/>(i.e. Transit movement of EU goods under excise suspension (EMCS+NCTS))<br/>THEN<br/>IF &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM. Declaration type&gt; is PRESENT<br/>      THEN &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM. <br/>      Declaration type&gt; is in SET {T2, T2F}<br/>ELSE &lt;TRANSIT OPERATION.Declaration type&gt; is in SET {T2, T2F}<br/>

<b>Technical Description</b>

IF /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/AdditionalReference/type is in SET CL234 (DocumentTypeExcise)<br/>(i.e. Export of excise goods followed by transit (EMCS&AES+NCTS))<br/>THEN<br/>IF /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/declarationType is <br/>PRESENT<br/>     THEN (/<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/declarationType is<br/>      EQUAL to ‘T1’ AND /<span>&#42;</span>/Consignment/HouseConsignment/PreviousDocument/type <br/>      is EQUAL to ‘N830’)<br/>ELSE (/<span>&#42;</span>/TransitOperation/declarationType is in SET {‘T1’, ‘TIR’}  <br/>AND /<span>&#42;</span>/Consignment/HouseConsignment/PreviousDocument/type is EQUAL to ‘N830’);<br/>IF /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/SupportingDocument/type is in SET CL234 (DocumentTypeExcise)<br/>(i.e. Transit movement of EU goods under excise suspension (EMCS+NCTS))<br/>THEN<br/>IF /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/declarationType is PRESENT<br/>      THEN /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/declarationType is in <br/>      SET {T2, T2F}<br/>ELSE /<span>&#42;</span>/TransitOperation/declarationType is in SET {T2, T2F}

##R0720

<b>Functional Description</b>

IF &lt;CC015C-TransitOperation.declarationType&gt; is in SET {T1, TIR} <br/>THEN &lt;CC190C-TransitOperation-ExportOperation.Transit procedure category&gt; is EQUAL to ‘1’<br/>ELSE IF &lt;CC015C-TransitOperation.declarationType&gt; is in SET {T2, T2F, T2SM} <br/>THEN &lt;CC190C-TransitOperation-ExportOperation.Transit procedure category&gt; is EQUAL to ‘2’ <br/>ELSE IF at least one consignment item for the specific &lt;CC190C-TransitOperation-ExportOperation.MRN&gt; has &lt;CC015C-Consignment-HouseConsignment-ConsignmentItem.declarationType&gt; EQUAL to ’T1’ <br/>THEN &lt;CC190C-TransitOperation-ExportOperation.Transit procedure category&gt; is EQUAL to ‘1’ <br/>ELSE &lt;CC190C-TransitOperation-ExportOperation.Transit procedure category&gt; is EQUAL to ‘2’

<b>Technical Description</b>

IF /CC015C/TransitOperation/declarationType is in SET {T1, TIR} <br/>THEN /CC190C/TransitOperation/ExportOperation/transitProcedureCategory is EQUAL to ‘1’<br/>ELSE IF /CC015C/TransitOperation/declarationType is in SET {T2, T2F, T2SM} <br/>THEN /CC190C/TransitOperation/ExportOperation/transitProcedureCategory is EQUAL to ‘2’ <br/>ELSE IF at least one consignment item for the specific /CC190C/TransitOperation/ExportOperation/MRN has /CC015C/Consignment/HouseConsignment/ConsignmentItem/declarationType EQUAL to ’T1’ <br/>THEN /CC190C/TransitOperation/ExportOperation/transitProcedureCategory is EQUAL to ‘1’ <br/>ELSE /CC190C/TransitOperation/ExportOperation/transitProcedureCategory is EQUAL to ‘2’

##R0789

<b>Functional Description</b>

IF &lt;CUSTOMS OFFICE OF TRANSIT (DECLARED)&gt; is PRESENT <br/>THEN the multiplicity of &lt;CONSIGNMENT-ACTIVE BORDER TRANSPORT MEANS&gt; is up to 9x<br/>ELSE the multiplicity of &lt;CONSIGNMENT-ACTIVE BORDER TRANSPORT MEANS&gt; is 1x

<b>Technical Description</b>

IF/<span>&#42;</span>/CustomsOfficeOfTransitDeclared is PRESENT<br/>THEN the multiplicity of /<span>&#42;</span>/Consignment/ActiveBorderTransportMeans is up to 9x <br/>ELSE the multiplicity of /<span>&#42;</span>/Consignment/ActiveBorderTransportMeans is 1x

##R0790

<b>Functional Description</b>

IF (&lt;CC015C-CUSTOMS OFFICE OF TRANSIT (DECLARED)&gt; is PRESENT)<br/>THEN the multiplicity of &lt;CC170C-CONSIGNMENT-ACTIVE BORDER TRANSPORT MEANS&gt; is up to 9x<br/>ELSE IF (&lt;CC013C-CUSTOMS OFFICE OF TRANSIT (DECLARED)&gt; is PRESENT) <br/>THEN the multiplicity of &lt;CC170C-CONSIGNMENT-ACTIVE BORDER TRANSPORT MEANS&gt; is up to 9x<br/>ELSE the multiplicity of &lt;CC170C-CONSIGNMENT-ACTIVE BORDER TRANSPORT MEANS&gt; is 1x

<b>Technical Description</b>

IF (/CC015C/CustomsOfficeOfTransitDeclared is PRESENT)<br/>THEN the multiplicity of /CC170C/Consignment/ActiveBorderTransportMeans is up to 9x<br/>ELSE IF (/CC013C/CustomsOfficeOfTransitDeclared is PRESENT) <br/>THEN the multiplicity of /CC170C/Consignment/ActiveBorderTransportMeans is up to 9x<br/>ELSE the multiplicity of /CC170C/Consignment/ActiveBorderTransportMeans is 1x<br/>

##R0840

<b>Functional Description</b>

Only a valid EORI or TCUIN shall be used. The EORI shall be validated only by EU MS. The TCUIN shall be validated by EU MS and by the country where the TCUIN is defined. 

<b>Technical Description</b>

Only a valid EORI or TCUIN shall be used. The EORI shall be validated only by EU MS. The TCUIN shall be validated by EU MS and by the country where the TCUIN is defined. 

##R0849

<b>Functional Description</b>

IF &lt;TRANSIT OPERATION. Declaration Type&gt; is EQUAL to ‘TIR’ <br/>THEN &lt;TRANSIT OPERATION. Reduced Dataset Indicator&gt; = “0”

<b>Technical Description</b>

IF /<span>&#42;</span>/TransitOperation/declarationType is EQUAL to ‘TIR’ <br/>THEN /<span>&#42;</span>/TransitOperation/reducedDatasetIndicator = “0”

##R0850

<b>Functional Description</b>

IF sender is in EU ([CL010](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_CountryCodesCommunity.zip) (CountryCodesCommunity))<br/>THEN the value must be a valid EORI or TCUIN (validated by receiver, if located in EU),<br/>ELSE (sender is not in EU) the value must be a TIN number (validated by the message sender only).<br/>The EORI/TCUIN values shall comply with the following pattern: &lt;xs:pattern value=" [A-Z]{2}[\x21-\x7E]{1,15}"/&gt;

<b>Technical Description</b>

IF sender is in EU ([CL010](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_CountryCodesCommunity.zip))<br/>THEN the value must be a valid EORI or TCUIN (validated by receiver, if located in EU),<br/>ELSE (sender is not in EU) the value must be a TIN number (validated by the message sender only).<br/>The EORI/TCUIN values shall comply with the following pattern: &lt;xs:pattern value=" [A-Z]{2}[\x21-\x7E]{1,15}"/&gt;

##R0851

<b>Functional Description</b>

The Identification number can be validated if the Consignee is located in the same contracting party as the Recipient.

<b>Technical Description</b>

The Identification number can be validated if the Consignee is located in the same contracting party as the Recipient.

##R0855

<b>Functional Description</b>

IF &lt;CONSIGNMENT.Inland mode of transport&gt; is EQUAL to '3'<br/>THEN the multiplicity of &lt;CONSIGNMENT-DEPARTURE TRANSPORT MEANS&gt; AND &lt;CONSIGNMENT-HOUSE CONSIGNMENT-DEPARTURE TRANSPORT MEANS&gt; can be up to '3x'<br/>ELSE IF &lt; CONSIGNMENT.Inland mode of transport&gt; is EQUAL to '2'<br/>THEN the multiplicity of &lt; CONSIGNMENT-DEPARTURE TRANSPORT MEANS&gt; AND &lt;CONSIGNMENT-HOUSE CONSIGNMENT-DEPARTURE TRANSPORT MEANS&gt; can be more than '1x'<br/>ELSE the multiplicity of &lt;CONSIGNMENT-DEPARTURE TRANSPORT MEANS&gt; AND CONSIGNMENT-HOUSE CONSIGNMENT-DEPARTURE TRANSPORT MEANS&gt; is '1x'<br/>

<b>Technical Description</b>

IF /<span>&#42;</span>/Consignment/inlandModeOfTransport is EQUAL to ‘3’<br/>THEN the multiplicity of /<span>&#42;</span>/Consignment/DepartureTransportMeans AND /<span>&#42;</span>/Consignment/HouseConsignment/DepartureTransportMeans can be up to '3x'<br/>ELSE IF /<span>&#42;</span>/Consignment/inlandModeOfTransport is EQUAL to ‘2’<br/>THEN the multiplicity of /<span>&#42;</span>/Consignment/DepartureTransportMeans AND /<span>&#42;</span>/Consignment/HouseConsignment/DepartureTransportMeans can be more than '1x'<br/>ELSE the multiplicity of /<span>&#42;</span>/Consignment/DepartureTransportMeans AND /<span>&#42;</span>/Consignment/HouseConsignment/DepartureTransportMeans is '1x'<br/>

##R0859

<b>Functional Description</b>

IF &lt;TRANSIT OPERATION. Reduced Dataset Indicator&gt; = “1” <br/>THEN at least one &lt;AUTHORISATION. Type&gt; is EQUAL to ‘C524’ <br/>ELSE &lt;AUTHORISATION. Type&gt; shall not be EQUAL to ‘C524’ 

<b>Technical Description</b>

IF /<span>&#42;</span>/TransitOperation/reducedDatasetIndicator = “1” <br/>THEN at least one /<span>&#42;</span>/Authorisation/type is EQUAL to ‘C524’ <br/>ELSE /<span>&#42;</span>/Authorisation/type shall not be EQUAL to ‘C524’ 

##R0860

<b>Functional Description</b>

IF sender is in EU ([CL010](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_CountryCodesCommunity.zip) (CountryCodesCommunity)),<br/>THEN the value must be a valid EORI or TCUIN,<br/>ELSE (sender is not in EU) the value must be a valid TIN number.

<b>Technical Description</b>

IF sender is in EU ([CL010](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_CountryCodesCommunity.zip))<br/>THEN the value must be a valid EORI or TCUIN<br/>ELSE (sender is not in EU) the value must be a valid TIN number.

##R0871

<b>Functional Description</b>

Reference number assigned must be equal to the one included in CD001C, CD003C, CC013C, CC015C, CD050C, CD115C, CD160C OR CD165C.

<b>Technical Description</b>

Reference number assigned must be equal to the one included in CD001C, CD003C, CC013C, CC015C, CD050C, CD115C, CD160C OR CD165C.

##R0875

<b>Functional Description</b>

IF &lt;CC191C-AES RESULTS.Global validation response&gt; is EQUAL to '1'<br/>THEN all iterations of &lt;CC191C-EXPORT OPERATION.Result indicator&gt; is EQUAL to 'P1'<br/>ELSE at least one iteration of &lt;CC191C-EXPORT OPERATION.Result indicator&gt; is in SET {N1, N2, N3, N4}

<b>Technical Description</b>

IF /CC191C/AESResults/globalValidationResponse is EQUAL to '1'<br/>THEN all iterations of /CC191C/ExportOperation/resultIndicator is EQUAL to 'P1'<br/>ELSE at least one iteration of /CC191C/ExportOperation/resultIndicator is in SET {N1, N2, N3, N4}<br/>

##R0900

<b>Functional Description</b>

IF &lt;TRANSIT OPERATION.Declaration type&gt; is EQUAL to 'TIR'<br/>THEN &lt;GUARANTEE.Guarantee type&gt; is EQUAL to 'B'<br/>ELSE IF the country code (first two characters) in the &lt;CUSTOMS OFFICE OF DEPARTURE.Reference number&gt; is in SET of [CL010](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_CountryCodesCommunity.zip) (CountryCodesCommunity) OR is EQUAL to 'SM' OR is EQUAL to 'AD'<br/>THEN &lt;GUARANTEE.Guarantee type&gt; must be in SET [CL230](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_GuaranteeTypeEUNonTIR.zip) (GuaranteeTypeEUNonTIR)<br/>ELSE &lt;GUARANTEE.Guarantee type&gt; must be in SET [CL229](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_GuaranteeTypeCTC.zip) (GuaranteeTypeCTC) 

<b>Technical Description</b>

IF /<span>&#42;</span>/TransitOperation/declarationType is EQUAL to 'TIR'<br/>THEN /<span>&#42;</span>/Guarantee/guaranteeType is EQUAL to 'B'<br/>ELSE IF the first two characters of /<span>&#42;</span>/CustomsOfficeOfDeparture/referenceNumber is in SET [CL010](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_CountryCodesCommunity.zip) OR is EQUAL to 'SM' OR is EQUAL to 'AD'<br/>THEN /<span>&#42;</span>/Guarantee/guaranteeType must be in SET [CL230](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_GuaranteeTypeEUNonTIR.zip)<br/>ELSE /<span>&#42;</span>/Guarantee/guaranteeType must be in SET [CL229](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_GuaranteeTypeCTC.zip)<br/>

##R0901

<b>Functional Description</b>

IF &lt;TRANSIT OPERATION.Declaration type&gt; is EQUAL to 'TIR'<br/>THEN the country code (first two characters) in the &lt;CUSTOMS OFFICE OF DESTINATION (DECLARED).Reference number&gt; is in SET [CL010](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_CountryCodesCommunity.zip)  (CountryCodesCommunity) <br/>AND the country code (first two characters) in the &lt;CUSTOMS OFFICE OF DEPARTURE.Reference number &gt; is in SET CL010.

<b>Technical Description</b>

IF /<span>&#42;</span>/TransitOperation/declarationType is EQUAL to 'TIR'<br/>THEN the first two characters of /<span>&#42;</span>/CustomsOfficeOfDestinationDeclared/referenceNumber is in SET [CL010](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_CountryCodesCommunity.zip) <br/>AND the first two characters of /<span>&#42;</span>/CustomsOfficeOfDeparture/referenceNumber is in SET CL010<br/>

##R0904

<b>Functional Description</b>

IF the country code (first two characters) in the &lt;CUSTOMS OFFICE OF DEPARTURE.Reference number&gt; is in SET {AD, SM}<br/>THEN the country code (first two characters) in the &lt;CUSTOMS OFFICE OF DESTINATION (DECLARED).Reference number&gt; is in SET [CL553](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_MSCountry.zip) (MSCountry)

<b>Technical Description</b>

IF the first two characters of /<span>&#42;</span>/CustomsOfficeOfDeparture/referenceNumber is in SET {AD, SM}<br/>THEN the first two characters of /<span>&#42;</span>/CustomsOfficeOfDestinationDeclared/referenceNumber is in SET [CL553](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_MSCountry.zip)<br/><br/>

##R0905

<b>Functional Description</b>

IF the country code (first two characters) in the &lt;CUSTOMS OFFICE OF DEPARTURE.Reference number&gt; is in SET [CL112](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_CountryCodesCTC.zip) (CountryCodesCTC)<br/>THEN the country code (first two characters) in the &lt;CUSTOMS OFFICE OF DESTINATION (DECLARED).Reference number&gt; is NOT in SET {AD, SM}

<b>Technical Description</b>

IF the first two characters of /<span>&#42;</span>/CustomsOfficeOfDeparture/referenceNumber is in SET [CL112](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_CountryCodesCTC.zip)<br/>THEN the two characters of /<span>&#42;</span>/CustomsOfficeOfDestinationDeclared/referenceNumber is NOT in SET{AD, SM}<br/><br/>

##R0906

<b>Functional Description</b>

IF the country code (first two characters) in the &lt;CUSTOMS OFFICE OF DESTINATION (DECLARED).Reference number&gt; is EQUAL to ‘AD’<br/>THEN the country code (first two characters) in the &lt;CUSTOMS OFFICE OF TRANSIT (DECLARED).Reference number&gt; is EQUAL to ‘AD’;<br/>IF the country code (first two characters) in the &lt;CUSTOMS OFFICE OF DESTINATION (DECLARED).Reference number&gt; is EQUAL to ‘AD’<br/>THEN the country code (first two characters) in the &lt;CUSTOMS OFFICE OF TRANSIT (ACTUAL).Reference number&gt; is EQUAL to ‘AD’

<b>Technical Description</b>

IF the first two characters of /<span>&#42;</span>/CustomsOfficeOfDestinationDeclared/referenceNumber is EQUAL to ‘AD’<br/>THEN the first two characters of /<span>&#42;</span>/CustomsOfficeOfTransitDeclared/referenceNumber is EQUAL to ‘AD’;<br/>IF the first two characters of /<span>&#42;</span>/CustomsOfficeOfDestinationDeclared/referenceNumber is EQUAL to ‘AD’<br/>THEN the first two characters of /<span>&#42;</span>/CustomsOfficeOfTransitActual/referenceNumber is EQUAL to ‘AD’<br/>

##R0909

<b>Functional Description</b>

IF the country code (first two characters) in the &lt;CUSTOMS OFFICE OF DESTINATION<br/>(DECLARED) Reference number&gt; is EQUAL to 'SM'<br/>THEN<br/>          IF the country code (first two characters) in the &lt;CUSTOMS OFFICE OF DEPARTURE.Reference number&gt; is EQUAL to 'IT'<br/>          THEN &lt;TRANSIT OPERATION.Declaration type&gt; is EQUAL to 'T2SM' <br/>          ELSE<br/>                     IF the country code (first two characters) in the &lt;CUSTOMS OFFICE OF DEPARTURE.Reference number&gt; is in set [CL010](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_CountryCodesCommunity.zip) (CountryCodesCommunity) AND NOT EQUAL to 'IT'<br/>                     THEN &lt;TRANSIT OPERATION.Declaration type&gt; is in SET {T2, T2F} OR<br/>                      &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM.Declaration type&gt; is in SET {T2,T2F};<br/>IF the country code (first two characters) in the &lt;CUSTOMS OFFICE OF DESTINATION (ACTUAL) Reference number&gt; is EQUAL to 'SM'<br/>THEN<br/>            IF the country code (first two characters) in the &lt;CUSTOMS OFFICE OF DEPARTURE.Reference number&gt; is EQUAL to 'IT'<br/>            THEN &lt;TRANSIT OPERATION.Declaration type&gt; is EQUAL to 'T2SM' <br/>            ELSE<br/>                     IF the country code (first two characters) in the &lt;CUSTOMS OFFICE OF DEPARTURE.Reference number&gt; is in set CL010 (CountryCodesCommunity) AND NOT EQUAL to 'IT'<br/>                     THEN &lt;TRANSIT OPERATION.Declaration type&gt; is in SET {T2, T2F} OR &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM.Declaration type&gt; is in SET {T2, T2F}<br/><br/><br/>

<b>Technical Description</b>

IF the first two characters of /<span>&#42;</span>/CustomsOfficeOfDestinationDeclared/referenceNumber is EQUAL to 'SM'<br/>THEN<br/>        IF the first two characters of /<span>&#42;</span>/CustomsOfficeOfDeparture/referenceNumber is EQUAL to 'IT',<br/>        THEN /<span>&#42;</span>/TransitOperation/declarationType is EQUAL to 'T2SM' <br/>        ELSE<br/>                 IF the first two characters of /<span>&#42;</span>/CustomsOfficeOfDeparture/referenceNumber is in SET [CL010](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_CountryCodesCommunity.zip)<br/>                         AND NOT EQUAL to 'IT'<br/>                 THEN /<span>&#42;</span>/TransitOperation/declarationType is in SET {T2, T2F} OR<br/>                           /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/declarationType is in SET {T2, T2F};<br/>IF the first two characters of /<span>&#42;</span>/CustomsOfficeOfDestinationActual/referenceNumber is EQUAL to 'SM'<br/>THEN<br/>        IF the first two characters of /<span>&#42;</span>/CustomsOfficeOfDeparture/referenceNumber is EQUAL to 'IT',<br/>        THEN /<span>&#42;</span>/TransitOperation/declarationType is EQUAL to 'T2SM' <br/>        ELSE<br/>               IF the first two characters of /<span>&#42;</span>/CustomsOfficeOfDeparture/referenceNumber is in SET CL010<br/>                          AND NOT EQUAL to 'IT'<br/>               THEN /<span>&#42;</span>/TransitOperation/declarationType is in SET {T2, T2F} OR<br/>                          /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/declarationType is in SET {T2, T2F}<br/><br/>

##R0910

<b>Functional Description</b>

IF &lt;CC013C - AUTHORISATION.Type&gt; is NOT EQUAL to 'C521' OR &lt;CC015C - AUTHORISATION.Type&gt; is NOT EQUAL to 'C521'<br/>THEN &lt;CONTROL RESULT.Code&gt; is in SET [CL195](downloads/CL195.zip) (ControlResultCodeDepartureSimplifiedExcluded)<br/>

<b>Technical Description</b>

IF /CC013C/Authorisation/type is NOT EQUAL to 'C521' OR  <br/>/CC015C/Authorisation/type is NOT EQUAL to 'C521'<br/>THEN /<span>&#42;</span>/ControlResult/code is in SET [CL195](downloads/CL195.zip)

##R0911

<b>Functional Description</b>

<br/>IF the country code (first two characters) in the &lt;CUSTOMS OFFICE OF DEPARTURE.Reference number&gt; is <br/>                              EQUAL to 'SM' AND<br/>                              the country code (first two characters) in the &lt;CUSTOMS OFFICE OF DESTINATION <br/>                              (DECLARED).Reference&gt; is in SET [CL010](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_CountryCodesCommunity.zip) (CountryCodesCommunity)<br/>THEN &lt;TRANSIT OPERATION.Declaration type&gt; is in SET {T2, T2F}; <br/>IF the country code (first two characters) in the &lt;CUSTOMS OFFICE OF DEPARTURE.Reference number&gt; is <br/>                              EQUAL to 'SM' AND<br/>                              the country code (first two characters) in the &lt;CUSTOMS OFFICE OF DESTINATION<br/>                              (ACTUAL).Reference&gt; is in SET CL010 (CountryCodesCommunity)<br/>THEN &lt;TRANSIT OPERATION.Declaration type&gt; is in SET {T2, T2F} 

<b>Technical Description</b>

IF the first two characters of /<span>&#42;</span>/CustomsOfficeOfDeparture/referenceNumber is EQUAL to 'SM' AND <br/>         the first two characters of /<span>&#42;</span>/CustomsOfficeOfDestinationDeclared/referenceNumber is in SET  [CL010](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_CountryCodesCommunity.zip)<br/>THEN /<span>&#42;</span>/TransitOperation/declarationType is in SET {T2, T2F}; <br/>IF the first two characters of /<span>&#42;</span>/CustomsOfficeOfDeparture/referenceNumber is EQUAL to 'SM' AND <br/>         the first two characters of /<span>&#42;</span>/CustomsOfficeOfDestinationActual/referenceNumber is in SET CL010<br/>THEN /<span>&#42;</span>/TransitOperation/declarationType is in SET {T2, T2F}

##R0912

<b>Functional Description</b>

IF &lt;TRANSIT OPERATION.Declaration type&gt; is EQUAL to 'TIR' <br/>THEN &lt;CONTROL RESULT.Code&gt; is in SET [CL195](downloads/CL195.zip) (ControlResultCodeDepartureSimplifiedExcluded)

<b>Technical Description</b>

IF /<span>&#42;</span>/TransitOperation/declarationType is EQUAL to 'TIR' <br/>THEN /<span>&#42;</span>/ControlResult/code is in SET [CL195](downloads/CL195.zip)

##R0983

<b>Functional Description</b>

&lt;CONSIGNMENT-HOUSE CONSIGNMENT.Gross mass&gt; must be GREATER than OR EQUAL to the sum of &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-COMMODITY-GOODS MEASURE.Gross mass&gt; available for all Consignment Items included in that House Consignment

<b>Technical Description</b>

/<span>&#42;</span>/Consignment/HouseConsignment/grossMass must be GREATER than OR EQUAL to the sum of /<span>&#42;</span>/Consignment/HouseConsignmentConsignmentItem/Commodity/GoodsMeasure/grossMass available for all Consignment Items included in that House Consignment

##R0987

<b>Functional Description</b>

Each &lt;Sequence number&gt; is unique for the Data Group it belongs to. The sequence numbers shall be sequential, starting from '1' for the first iteration of the Data Group and increasing by '1' for each iteration.

<b>Technical Description</b>

Each &lt;Sequence number&gt; is unique for the Data Group it belongs to. The sequence numbers shall be sequential, starting from '1' for the first iteration of the Data Group and increasing by '1' for each iteration.

##R0988

<b>Functional Description</b>

Each &lt; Goods item number&gt; is unique for the Data Group it belongs to. The Goods item number shall be sequential, starting from '1' for the first iteration of the Data Group and increasing by '1' for each iteration.

<b>Technical Description</b>

Each &lt; Goods item number&gt; is unique for the Data Group it belongs to. The Goods item number shall be sequential, starting from '1' for the first iteration of the Data Group and increasing by '1' for each iteration.

##R0990

<b>Functional Description</b>

The &lt;TRANSIT OPERATION.TIR carnet number&gt; must have the format an10 or an11 and must follow the algorithm defined by IRU, see DDNTA Main Document.

<b>Technical Description</b>

The /<span>&#42;</span>/TransitOperation/TIRCarnetNumber must have the format an10 or an11 and must follow the algorithm defined by IRU, see DDNTA Main Document.

##R0994

<b>Functional Description</b>

The value of &lt;CONSIGNMENT.Gross mass&gt; must be GREATER than or EQUAL to the sum of &lt;CONSIGNMENT-HOUSE CONSIGNMENT.Gross mass&gt; for all house consignments.

<b>Technical Description</b>

The value of /<span>&#42;</span>/Consignment/grossMass must be GREATER than or EQUAL to the sum of /<span>&#42;</span>/Consignment/HouseConsignment/grossMass for all house consignments.

##R0995

<b>Functional Description</b>

For this data item only an EORI number is valid.

<b>Technical Description</b>

For this data item only an EORI number is valid. 

##R3060

<b>Functional Description</b>

IF &lt;CONSIGNMENT.Country Of Destination&gt; is in SET [CL009](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_CountryCodesCommonTransit.zip) (CountryCodesCommonTransit) <br/>OR<br/>at least one &lt; CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM.Country Of Destination&gt; are in SET CL009<br/>THEN &lt;CONSIGNMENT-ADDITIONAL INFORMATION.Code&gt; shall not be EQUAL to '30600' 

<b>Technical Description</b>

IF /<span>&#42;</span>/Consignment/countryOfDestination is in SET [CL009](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_CountryCodesCommonTransit.zip)<br/>OR<br/>at least one /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/countryOfDestination is in SET CL009<br/>THEN /<span>&#42;</span>/Consignment/AdditionalInformation/code shall not be EQUAL to '30600'<br/>

##R3061

<b>Functional Description</b>

The Data Item &lt;CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM-ADDITIONAL INFORMATION.Code&gt; shall not be EQUAL to '30600' 

<b>Technical Description</b>

The Data Item /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/AdditionalInformation/code shall not be EQUAL to '30600' 

##R3062

<b>Functional Description</b>

IF &lt;CONSIGNMENT.Country Of Destination&gt; is in SET [CL009](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_CountryCodesCommonTransit.zip) (CountryCodesCommonTransit)<br/>OR<br/>at least one &lt; CONSIGNMENT-HOUSE CONSIGNMENT-CONSIGNMENT ITEM.Country Of<br/>Destination&gt; are in SET CL009<br/>THEN &lt;CONSIGNMENT-HOUSE CONSIGNMENT- ADDITIONAL INFORMATION.Code&gt; shall not be EQUAL to '30600'<br/>

<b>Technical Description</b>

IF /<span>&#42;</span>/Consignment/countryOfDestination is in SET [CL009](https://ec.europa.eu/taxation_customs/dds2/rd/compressed_file/data_download/RD_NCTS-P5_CountryCodesCommonTransit.zip)<br/>OR<br/>at least one /<span>&#42;</span>/Consignment/HouseConsignment/ConsignmentItem/countryOfDestination is in SET<br/>CL009<br/>THEN /<span>&#42;</span>/Consignment/HouseConsignment/AdditionalInformation/code shall not be EQUAL to '30600'<br/>

